<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Torresminha</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    @RenderBody()

    <script src="~/js/jquery.js"></script>

    <script src="~/js/js.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>