<table>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="preto">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="branco">
            ze lixo
        </td>

        <td class="verde">
            ze lixo
        </td>

        <td class="branco">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="preto">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td class="vermelho">
            ze lixo
        </td>

        <td>
            meio
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="branco">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="branco">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

    <tr>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="azul">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="preto">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

        <td class="amarelo">
            ze lixo
        </td>

    </tr>

</table>