<div class="container">
    <div class="row">
        <div class="col-md-8">

            <table>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        55
                    </td>

                    <td class="preto">
                        56
                    </td>

                    <td class="preto">
                        1
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        54
                    </td>

                    <td class="verde">

                    </td>

                    <td class="verde text-white">
                        2
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        53
                    </td>

                    <td class="verde">
                    </td>

                    <td class="preto">
                        3
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        52
                    </td>

                    <td class="verde">
                    </td>

                    <td class="preto">
                        4
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho-claro">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        51
                    </td>

                    <td class="verde">
                    </td>

                    <td class="preto">
                        5
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde-claro">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="preto">
                        50
                    </td>

                    <td class="verde">
                    </td>

                    <td class="preto">
                        6
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                    <td class="verde">
                    </td>

                </tr>

                <tr>

                    <td class="preto">
                        43
                    </td>

                    <td class="vermelho text-white">
                        44
                    </td>

                    <td class="preto">
                        45
                    </td>

                    <td class="preto">
                        46
                    </td>

                    <td class="preto">
                        47
                    </td>

                    <td class="preto">
                        48
                    </td>

                    <td class="branco">
                        49
                    </td>

                    <td class="verde">
                    </td>

                    <td class="branco">
                        7
                    </td>

                    <td class="preto">
                        8
                    </td>

                    <td class="preto">
                        9
                    </td>

                    <td class="preto">
                        10
                    </td>

                    <td class="preto">
                        11
                    </td>

                    <td class="preto">
                        12
                    </td>

                    <td class="preto">
                        13
                    </td>

                </tr>

                <tr>

                    <td class="preto">
                        42
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td class="vermelho">
                    </td>

                    <td>
                        M
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="preto">
                        14
                    </td>

                </tr>

                <tr>

                    <td class="preto">
                        41
                    </td>

                    <td class="preto">
                        40
                    </td>

                    <td class="preto">
                        39
                    </td>

                    <td class="preto">
                        38
                    </td>

                    <td class="preto">
                        37
                    </td>

                    <td class="preto">
                        36
                    </td>

                    <td class="branco">
                        35
                    </td>

                    <td class="azul">
                    </td>

                    <td class="branco">
                        21
                    </td>

                    <td class="preto">
                        20
                    </td>

                    <td class="preto">
                        19
                    </td>

                    <td class="preto">
                        18
                    </td>

                    <td class="preto">
                        17
                    </td>

                    <td class="amarelo text-white">
                        16
                    </td>

                    <td class="preto">
                        15
                    </td>

                </tr>

                <tr>

                    <td class="azul">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        34
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        22
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo">
                    </td>

                </tr>

                <tr>

                    <td class="azul">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        33
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        23
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo">
                    </td>

                </tr>

                <tr>

                    <td class="azul">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        32
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        24
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo">
                    </td>

                </tr>

                <tr>

                    <td class="azul">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        31
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        25
                    </td>

                    <td class="amarelo">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo-claro">
                    </td>

                    <td class="amarelo">
                    </td>

                </tr>

                <tr>

                    <td class="azul">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul-claro">
                    </td>

                    <td class="azul">
                    </td>

                    <td class="azul text-white">
                        30
                    </td>

                    <td class="azul">
                    </td>

                    <td class="preto">
                        26
                    </td>

                    <td class="amarelo" />

                    <td class="amarelo-claro" />

                    <td class="amarelo-claro" />

                    <td class="amarelo-claro" />

                    <td class="amarelo-claro" />

                    <td class="amarelo" />

                </tr>

                <tr>

                    <td class="azul" />

                    <td class="azul" />

                    <td class="azul" />

                    <td class="azul" />

                    <td class="azul" />

                    <td class="azul" />

                    <td class="preto">
                        29
                    </td>

                    <td class="preto">
                        28
                    </td>

                    <td class="preto">
                        27
                    </td>

                    <td class="amarelo" />

                    <td class="amarelo" />

                    <td class="amarelo" />

                    <td class="amarelo" />

                    <td class="amarelo" />

                    <td class="amarelo" />

                </tr>

            </table>

        </div>

        <div class="col-md-4 stats">

            <p class="titulo">Torr<span class="texto-vermelho">esm</span>inha</p>

            <p class="vez">Vez: <span class="texto-verde">Verde</span></p>

            <div class="mt-3">

                <div class="dado">

                    <p class="dado-numero"></p>

                </div>

                <div class="d-flex mt-1 justify-content-center">

                    <button class="dado-botao" onclick="clickDado()">Jogar dado</button>

                </div>

            </div>

        </div>
    </div>
</div>