td {
    height: 40px;
    width: 40px;
    text-align: center;
    color: #444;    
    vertical-align: middle;
    font-weight: 600;
}

.texto-verde {
    color: #28a745;
}

.verde {
    border: 1px solid #000;
    background-color: #28a745;
}

.verde-claro {
    border: 1px solid #000;
    background-color: #49d86a;
}

.texto-vermelho {
    color: #dc3545;
}

.vermelho {
    border: 1px solid #000;
    background-color: #dc3545;
}

.vermelho-claro {
    border: 1px solid #000;
    background-color: #ff6674;
}

.amarelo {
    border: 1px solid #000;
    background-color: #ffc107;
}

.amarelo-claro {
    border: 1px solid #000;
    background-color: #ffd763;
}

.azul {
    border: 1px solid #000;
    background-color: #007bff;
}

.azul-claro {
    border: 1px solid #000;
    background-color: #51a5ff;
}

.branco {
    background-color: #FFF;
}

.preto {
    border: 1px solid #000;
}

.stats{
    border: 3px solid #000;
}

.titulo {
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}

.vez {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1rem;
    padding: 2rem;
}

.dado {
    height: 100px;
    line-height: 90px;
    text-align: center;
    border: 2px solid #666;
    border-radius: 10px;
    width: 100px;
    margin: 0 auto;
}

.dado-numero {
    font-size: 3rem;
    margin: 0 auto;
    color: #333;
}